.admin-billing {
    padding: 20px;
  }
  
  .admin-billing table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-billing table th, .admin-billing table td {
    border: 1px solid var(--grid);
    padding: 8px;
  }
  
  .admin-billing table th {
    background-color: var(--shadow-but);
    text-align: left;
  }
  
  
  .admin-billing h2 {
    margin-bottom: 20px;
  }
  