/* CSS for AdminRoom component */
.room-allocation-container {
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
}

.room-allocation-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.room-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.action-btn,.vacate-btn {
  background-color: var(--rest-but);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}


.top-right-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.manual-container {
  background-color: white;
  padding: 30px;
  width: 100%;
  max-width: 600px; /* Set form width */
  border-radius: 10px;
  box-sizing: border-box;
}

.manual-assignment-form input {
    width: 90%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid var(--grid);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; /* Improve text size for readability */
  }

.room-form input[type="text"],[type="number"]{
    width: 90%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid var(--grid);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; /* Improve text size for readability */
}

.manual-assign-btn {
  background-color:var(--rest-but); 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.manual-assign-btn:hover ,.action-btn:hover,.vacate-btn:hover {
  background-color: var(--hov-but); /* Hover background color */
  color: black; /* Hover text color */
  font-weight: 600; /* Set weight to avoid size changes */
  border: 1.5px solid transparent; 
  border-color: var(--rest-but); /* Change border color without changing width */
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.room-box {
  background-color: var(--shadow-but);
  border: 1px solid var(--grid);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: black;
}

.room-box p {
  margin: 10px 0;
}

.room-box:hover {
  background-color: var(--header); 
  color: white;
}

.room-details, .application-grid {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

}


.room-details p,  .application-grid p {
  margin: 5px 0;
}

.room-details-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-btn, .submit-btn, .back-btn1, .remove-btn, .allocate-btn{
  background-color: var(--rest-but);
  color: white; 
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.delete-btn:hover, .submit-btn:hover, .remove-btn:hover, .back-btn1:hover, .allocate-btn:hover {
  transform: scale(1.05);
}

.remove-btn1 {
  background-color: var(--rest-but);
  color: white; 
  border: none;
  padding: 8px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.remove-btn1:hover {
  transform: scale(1.05);
}