/* CSS for AdminFood component */
.admin-food {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 30px auto;
}

.admin-food h2 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.error-food {
  color: #050A44;
  text-align: center;
}

.add-food {
  background-color: #56596c; 
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.add-food input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 2px solid #0A21C0; 
  border-radius: 5px;
  margin-bottom: 10px;
  color: #141619; 
}

.add-food input[type="file"] {
  display: block;
  color: white;
  margin-bottom: 10px;
}

.available-days label {
  display: block;
  margin: 5px 0;
  color: white; 
}

.add-food button {
  background-color: #0A21C0; 
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-food button:hover {
  background-color: #050A44; 
}

