/* CSS for AdminRoom component */
.room-allocation-container {
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: auto;
}

.room-allocation-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.room-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.action-btn {
  background-color: #0A21C0;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: #050A44; 
}

.top-right-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.view-application-btn {
  background-color: white; 
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.view-application-btn:hover {
  background-color: #050A44;
  color: white;
}

.room-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.room-box {
  background-color: #56596c;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.room-box p {
  margin: 10px 0;
}

.room-box:hover {
  background-color: #050A44; 
}

.room-details {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 3px solid #56596c; 

}


.room-details p {
  margin: 5px 0;
}

.room-details-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-btn, .vacate-all-btn, .add, .rem-but{
  background-color: #0A21C0;
  color: white; 
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.delete-btn:hover, .vacate-all-btn:hover, .add:hover, .rem-but:hover {
  transform: scale(1.05);
}

.room-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #56596c;
  border-radius: 5px;
}

.room-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #B3B4BD; 
  border-radius: 5px;
  background-color: white;
}
