.form-full {
    height: 80%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
  }
  
  /* Centering the form container */
  .form-container {
    background-color: white;
    padding: 30px;
    width: 100%;
    margin-top: 100px;
    max-width: 600px; /* Set form width */
    border-radius: 10px;
    box-shadow: 0 0 10px 5px var(--shadow-but);
    box-sizing: border-box;
  }
  
  
  /* Styling input, select, and textarea elements */
  .form-container input,
  .form-container select,
  .form-container textarea {
    width: 90%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid var(--grid);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; /* Improve text size for readability */
  }
  
  /* Ensure textarea resizes properly */
  .form-container textarea {
    resize: vertical;
    min-height: 50px;
  }
  
  /* Button styling */
  .form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 30px;
  }
  
  /* Submit button styling */
  .form-container button {
    background-color: var(--rest-but);
    color: white;
  }
  
  /* Submit button hover effect */
  .form-container button:hover {
    font-weight: 600;
  }
  
  