  .complaint-box {
    background-color: var(--shadow-but);
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .comp textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .comp button {
    background-color: var(--rest-but);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;

  }
  
  .comp button:hover {
    background-color: var(--hov-but); 
    color: black; 
    font-weight: 600; 
    border: 1.5px solid transparent; 
    border-color: var(--rest-but);
  }
  
 