
  .complaint-box {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .complaint-box:hover {
    background-color: #e2e6ea;
  }
  
  .complaint-details {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .comp textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .comp button {
    background-color: var(--rest-but);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;

  }
  
  .comp button:hover {
    background-color: var(--hov-but); 
    color: black; 
    font-weight: 600; 
    border: 1.5px solid transparent; 
    border-color: var(--rest-but);
  }
  
  .complaint-grid {
    background-color: white;
    padding: 16px;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 16px;
    box-shadow: 0 0 10px 5px var(--shadow-but);
}