.choose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #56596c;
    color: white;
    width: 500px;
    height: 350px;
    margin: 0 auto; /* Center horizontally */
    position: absolute; /* Allows positioning within the viewport */
    top: 50%; /* Center vertically within viewport */
    left: 50%; /* Center horizontally within viewport */
    transform: translate(-50%, -50%); /* Adjust for the width and height of the container */
    padding: 20px; /* Add padding for inner spacing */
    box-sizing: border-box; /* Ensure padding is included in the height and width */
  }

  .choose-container select{
    background-color: white;
  }
  

