/* Container for Payment form */
.payment-container {
  max-width: 500px;
  margin: 100px auto;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  border: 3px solid #56596c;
  text-align: center;
}

/* Headings Styling */
.payment-container h2 {
  color: #050A44;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.payment-container p {
  color: #141619;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Form Labels */
.form-group label {
  font-weight: bold;
  font-size: 16px;
  color: #141619;
  text-align: left;
  display: block;
  margin-bottom: 8px;
}


/* Payment Details */
.payment-details {
  background-color: white; /* Changed from black to white */
  padding: 16px;
  border-radius: 8px;
  color: #141619; /* Change text color to dark gray for visibility */
  margin-top: 16px;
  border: 1px solid #B3B4BD; /* Optional: Add a light border for definition */
}

.payment-details p {
  margin: 5px 0;
}