.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    margin-left: 20px;
  }
  
  .main {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f0f0f0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 10px;
  }
  
  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  