.payment-detail button {
    padding: 10px 20px; /* Increase padding for better click area */
    border-radius: 5px;
    background-color: white;
    color: black; /* Adjust text color for better readability */
    border: none; /* Remove default border */
    cursor: pointer;
    margin-top: 30px;
      /* Space between button and other elements */
    font-size: 16px; /* Adjust font size for better readability */
  }
  
  .payment-detail button:hover {
    background-color: #d5d4d2;
  }
  