
/* Form styling */
.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.reset-form input {
  width: 100%;
  max-width: 280px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--header);
  border-radius: 5px;
  background-color: var(--shadow-but);
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}

/* Reset Button styling */
.reset-button {
  background-color: var(--rest-but);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  width: 50%;
  margin-top: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.reset-button:hover {
  background-color: var(--hov-but);
  color: black;
  border: 1.5px solid var(--rest-but);
}

/* Message styling */
.message {
  margin-top: 1rem;
  color: green;
  font-size: 1rem;
}

.error-popup {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}
