/* Container for Room Allocation form */
.container1 {
    max-width: 500px;
    margin: 100px auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px var(--shadow-but);
    text-align: center;
}

/* Headings Styling */
.container1 h2 {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.container1 p {
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Form Labels */
.form-group1 label {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    display: block;
    margin-left: 50px;
    margin-bottom: 8px;
}

.form-group1 select{
    cursor: pointer;
}

.form-control {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1.5px solid transparent; 
    border-color: var(--rest-but);    
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    color: #141619;
}

/* Button Styling */
.btn1 {
    width: 50%;
    padding: 12px;
    font-size: 18px;
    background-color: var(--rest-but);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn1:hover {
    background-color: var(--hov-but); /* Hover background color */
    color: black; /* Hover text color */
    font-weight: 600; /* Set weight to avoid size changes */
    border: 1.5px solid transparent; 
    border-color: var(--rest-but);
}

/* Success and Error Messages */
.alert {
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
}

.alert-success, .alert-danger {
    background-color: var(--grid);
    color: white;
}
