/* Profile section styles */
.profile {
    background-color: white;
    padding: 0.5rem;
    box-shadow: #2C2E3A;
    border-radius: 8px;
    width: 100%;
    max-width: fit-content; 
}


/* Adding equal spacing from the top and bottom */
.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;
    height: 100%;
}

.profile-header {
    text-align: center;
    margin-bottom: 1rem;
}

.profile-picture {
    width: 100px;
    height: 100px; /* Ensure the height matches the width for a circular image */
    border-radius: 50%;
    margin-bottom: 1rem;
}

.profile-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-details > div {
    width: 30%;
    margin-bottom: 1rem;
}

.general-info h3 {
    border-bottom: 2px solid #050A44;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.general-info p {
    margin: 0.5rem 0;
}