/* Additional styles for the profile picture */
.profile-header {
    margin-top: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 1rem; /* Space between header and details */
    border-bottom: 2px solid var(--hov-but); /* Add a bottom border for the line */
    padding-bottom: 1rem; /* Optional: add some padding below the header */
}

.profile-picture {
    width: 100px;
    height: 100px; /* Ensure the height matches the width for a circular image */
    border-radius: 50%;
    margin-right: 1rem; /* Space between picture and name */
}

/* Ensure all elements align properly */
.profile-details {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to next line if necessary */
    gap: 20px; /* Space between boxes */
}

.box {
    background-color: white; /* Light background color for the boxes */
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Inner spacing */
    flex: 1; /* Allow boxes to grow */
    min-width: 250px; /* Minimum width for each box */

}
