.student-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;/* Space between grid items */
}

.student-box {
  flex: 1 0 calc(25% - 16px);
  /* Four boxes per row, ensuring all boxes are the same size */
  height: 200px;
  /* Ensure boxes are square */
  max-width: calc(25% - 16px);
  /* Ensure boxes do not exceed 25% of the container width */
  background-color: var(--shadow-but);
  border: 1px solid var(--grid);

  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: black;
}

.student-box:hover {
  background-color: var(--header);
  color: white;
}

.student-box p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.student-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.search-bar {
  flex: 1;
  padding: 8px;
  border: 1px solid var(--grid);
  border-radius: 4px;
  margin-right: 8px;
  width: calc(100% - 100px);
}

.add-btn {
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  background-color: var(--rest-but);
  color: white;
  cursor: pointer;
}

.modify-btn button{
  padding: 8px 12px;
  margin-top: 30px;
  margin-right: 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--rest-but);
  color: white;
}

.modify-btn button:hover{
  font-weight: 600;
  cursor: pointer;
}

.add-btn:hover {
  background-color: var(--hov-but); /* Hover background color */
  color: black; /* Hover text color */
  font-weight: 600; /* Set weight to avoid size changes */
  border: 1.5px solid transparent; 
  border-color: var(--rest-but); /* Change border color without changing width */
}

.student-details {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
}

.student-form {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px 5px var(--shadow-but);
  margin-top: 80px;
  /* Space from the header */
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* Space between form elements */
}

.student-form input,
.student-form label {
  display: flex;
  flex-direction: column;
}

.student-form input[type="text"],[type="number"],[type="email"] {
  padding: 8px;
  border: 1px solid var(--rest-but);
  border-radius: 4px;
}

.student-form label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.student-form label input[type="checkbox"] {
  margin-right: 8px;
}

.student-form button {
  width: 30%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--rest-but);
  color: white;
  cursor: pointer;
  margin-top: 8px;
  justify-content: space-between;
}

.student-form button:hover {
  background-color: var(--hov-but); /* Hover background color */
  color: black; /* Hover text color */
  font-weight: 600; /* Set weight to avoid size changes */
  border: 1.5px solid transparent; 
  border-color: var(--rest-but);
}

.back-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--rest-but);
  color: white;
  cursor: pointer;
}

.back-btn:hover {
  background-color: var(--hov-but); /* Hover background color */
  color: black; /* Hover text color */
  font-weight: 600; /* Set weight to avoid size changes */
  border: 1.5px solid transparent; 
  border-color: var(--rest-but); /* Change border color without changing width */
}


input[type="file"] {
  padding: 8px;
  border: 1px solid #B3B4BD;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.file-upload input[type="file"] {
  display: none;
}

.delete-all-btn {
  background-color: var(--rest-but);
  color: white;
  margin-left: 40%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.delete-all-btn:hover {
  background-color: var(--hov-but); /* Hover background color */
  color: black; /* Hover text color */
  font-weight: 600; /* Set weight to avoid size changes */
  border: 1.5px solid transparent; 
  border-color: var(--rest-but); /* Change border color without changing width */
}