.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  position: relative; 
  z-index: 0; /* Ensure absolute positioning of child elements works correctly */
}

.user-info-container {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly opaque background */
  padding: 1rem;
  margin-top: 80px; /* Adjust for fixed header height */
  height: 25px;
  display: flex;
  justify-content: space-around; /* Center align items horizontally */
  position: fixed; /* Relative positioning to keep the user-info in place */
  z-index: 1000;
  width: 100%;
  align-items: center;
}

.user-info {
  display: flex;
  flex-direction: column; /* Ensure name and roll no stack vertically */
  align-items: center; /* Center horizontally */
  color: black; /* Change text color to ensure readability */
  margin: 0 2rem; /* Margin to provide spacing between name and roll no */
}

.user-info span {
  margin-right: 1.5rem; /* Add space between name and roll no */
  margin-bottom: 0.5rem; /* Add space between name and roll no */
}

.main1 {
  display: flex;
  flex: 1;
  margin-top: 50px; /* Ensure there's space below the header */
}

.content {
  flex: 1;
  margin-left: 200px; /* Ensure content is positioned to the right of the sidebar */
  padding: 20px; /* Add some padding for content spacing */
}

.sidebar {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.8); /* Sidebar color */
  color: white;
  position: fixed;
  top: 80px; /* Adjust to be below header */
  height: calc(100vh - 80px); /* Adjust height to avoid overlapping header */
  left: 0; /* Position sidebar on the left side */
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  padding: 0 10px; /* Add padding for spacing */
  box-sizing: border-box; /* Ensure padding is included in height */
  z-index: 999; /* Ensure it’s below the header */
}

.logout-button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #0056b3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px; /* Add margin to align with other items */
  margin-top: auto; /* Push button to the bottom of the sidebar */
  width: auto; /* Adjust width as needed */
  box-sizing: border-box; /* Ensure padding and borders are included in width/height */
}

.logout-button:hover {
  background-color: #004494;
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1; /* Allow the list to grow and fill the available space */
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li.active {
  background-color: #0056b3; /* Highlight color */
  color: white;
}

.sidebar ul li a {
  text-decoration: none;
  color: inherit;
}

.sidebar li:hover {
  background-color: #0056b3;
}

