/* Container and layout styles */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  position: relative; 
  z-index: 0; /* Ensure absolute positioning of child elements works correctly */
}

.main1 {
  display: flex;
  flex: 1;
  margin-top: 50px; /* Ensure there's space below the header */
}

.content {
  flex: 1;
  margin-left: 200px; /* Ensure content is positioned to the right of the sidebar */
  padding: 20px; /* Add some padding for content spacing */
}

/* Sidebar styling */
.sidebar {
  width: 200px;
  background-color: var(--header); /* Sidebar color */
  position: fixed;
  top: 80px; /* Adjust to be below header */
  height: calc(100vh - 80px); /* Adjust height to avoid overlapping header */
  left: 0; /* Position sidebar on the left side */
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  box-sizing: border-box; /* Ensure padding is included in height */
  z-index: 999; /* Ensure it’s below the header */
}

/* Sidebar list styling */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  flex: 1; /* Allow the list to grow and fill the available space */
}

/* Sidebar items styling */
.sidebar li {
  padding: 10px;
  cursor: pointer;
  color: white; /* Ensure text color is white for readability */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Active sidebar item styling */
.sidebar li.active {
  background-color: var(--hov-but); /* Fixed color for active item */
  color: black; /* Ensure text color is white for readability */
  font-weight: 600;
}

/* Hover effect for sidebar items (excluding active items) */
.sidebar li:not(.active):hover {
  background-color: #56596c; /* Highlight color on hover */
  color: white;
}

/* Log out button styling */
.logout-button {
  padding: 0.5rem 1rem;
  color: black;
  background-color: var(--hov-but);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px; /* Add margin to align with other items */
  margin-top: auto; /* Push button to the bottom of the sidebar */
  width: auto; /* Adjust width as needed */
  box-sizing: border-box; /* Ensure padding and borders are included in width/height */
}

.logout-button:hover {
  transform: scale(1.07);
  font-weight: 600;
}
